# 忽略所有的 .pyc 文件
*.pyc

# 忽略所有的 __pycache__ 目录
__pycache__/

# 忽略项目根目录下的 build 和 dist 目录
/build/
/dist/

# 忽略 Python 虚拟环境目录
.venv/

# 忽略其他临时文件和目录
temp/
*.log
.DS_Store

# 忽略 VSCode 目录
.vscode/

# 忽略 VSCode 工作区设置文件
*.code-workspace

# 忽略 VSCode 缓存目录
.vscode/

# 忽略venv
venv/